#logo {
  text-align: left;
  font-family: 'Source Sans Pro',sans-serif;
  font-weight: 900;
  font-size: 4.25em !important;
  line-height: 1em;
  letter-spacing: -4px;
  padding-right: 5px;
}

.back-btn  {
  text-align: right;
}

.well {
  padding: 19px;
  margin-bottom: 20px;
  background-color: #303030;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#part1ToggleBtn, #part2ToggleBtn, #part3ToggleBtn { 
  cursor: pointer; 
}

.controls {
  margin-top: 3em;
}

/** <Center flipclock> **/
#clock {
  display: inline-block;
  width: auto;
}
.clock-wrapper {
  text-align: center;
}
/** </Center flipclock> **/

#formLengthLabel, #chikungLengthLabel {
  margin-top: 10px;
  background-color: transparent;
  color: #838181;
}


/** scale logo down on small devices **/
@media only screen and (max-width: 60em) {
  #logo {
    font-size: 2.5em !important;
    margin: 0 auto -10px auto;
    letter-spacing: -2px;
  }
  .controls {
    margin-top: 1em;
  }
  .well {
    padding: 10px;
    margin-bottom: 0px;
  }

  #formLengthLabel, #chikungLengthLabel {
    margin-top: 5px;
  }
}